button {
  border: none;
  background-color: rgb(99, 99, 101);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(20, 95, 50);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(179, 0, 0);
}

.equals:hover {
  background-color: rgb(18, 173, 7);
}
