/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-half {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./images/leonardo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.right-half {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url("./images/youngsta.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .left-half {
    width: 100%;
    position: relative;
  }

  .right-half {
    width: 100%;
    position: relative;
  }
}
